@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&family=Poppins:wght@600&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  color: hsl(192deg, 100%, 9%);
  font-family: "Open Sans", sans-serif;
}
body main {
  font-size: 18px;
  margin: 0 auto 25px;
}
@media (min-width: 1000px) {
  body main {
    width: 100%;
    height: unset;
    font-size: unset;
    margin: unset auto;
  }
}

.nav {
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin: 0px auto 100px;
  align-items: center;
}
@media (min-width: 1000px) {
  .nav {
    width: 95%;
    height: unset;
    font-size: unset;
    margin: unset auto;
  }
}
.nav__logo {
  width: 120px;
  height: 20px;
}
@media (min-width: 1000px) {
  .nav__logo {
    width: 201px;
    height: 35px;
    font-size: unset;
    margin: unset auto;
  }
}
.nav__btn {
  background-color: #fff;
  border: none;
  display: block;
  border: 1px solid hsl(193deg, 100%, 96%);
  border-radius: 50px;
  color: hsl(192deg, 100%, 9%);
  width: 100px;
  height: 30px;
  box-shadow: 2px 4px 11px hsla(208deg, 11%, 55%, 0.2);
  font-weight: 700;
}
@media (min-width: 1000px) {
  .nav__btn {
    width: 195px;
    height: 50px;
    font-size: unset;
    margin: unset auto;
  }
}
.nav__btn:hover {
  cursor: pointer;
  color: hsl(208deg, 11%, 55%);
  background-color: #fff;
}

.header {
  background-color: hsl(193deg, 100%, 96%);
  background-image: url(../images/bg-hero-mobile.svg);
  padding: 45px 75px;
}
@media (min-width: 1000px) {
  .header {
    background-image: url(../images/bg-hero-desktop.svg);
  }
}
@media (min-width: 1000px) {
  .header .section-header {
    display: flex;
  }
}
@media (min-width: 1000px) {
  .header .section-header .section-header-div {
    width: 50%;
    height: unset;
    font-size: unset;
    margin: unset auto;
  }
}
.header .section-header .section-header-div__title {
  font-family: "Open Sans", sans-serif;
  text-align: center;
  width: 290px;
  font-size: 1.48em;
  margin: 0 auto 36px;
}
@media (min-width: 1000px) {
  .header .section-header .section-header-div__title {
    width: 50%;
    height: unset;
    font-size: 2.98em;
    margin: unset auto;
  }
}
@media (min-width: 1000px) {
  .header .section-header .section-header-div__title {
    margin: 0 0 36px;
    padding-left: 12px;
    text-align: left;
    width: 520px;
    font-size: 1em;
  }
}
@media (min-width: 1000px) {
  .header .section-header .section-header-div__title {
    width: 350px;
    font-size: 1.8em;
    padding-top: 100px;
  }
}
.header .section-header .section-header-div__description {
  text-align: center;
  font-size: 1em;
  width: 340px;
  margin: 0 auto 49px;
}
@media (min-width: 1000px) {
  .header .section-header .section-header-div__description {
    width: 50%;
    height: 80px;
    font-size: 1.95em;
    margin: unset auto;
  }
}
@media (min-width: 1000px) {
  .header .section-header .section-header-div__description {
    margin: 0 0 36px;
    padding-left: 12px;
    text-align: left;
    width: 520px;
    font-size: 1em;
  }
}
.header .section-header .section-header-div__btn {
  background-color: hsl(322deg, 100%, 66%);
  border: none;
  display: block;
  border: 1px solid hsl(193deg, 100%, 96%);
  border-radius: 50px;
  color: #fff;
  width: 370px;
  height: 55px;
  margin: 0 auto;
  margin: 0 auto;
  margin-bottom: 100px;
}
.header .section-header .section-header-div__btn:hover {
  cursor: pointer;
  color: #fff;
  background-color: hsl(322deg, 100%, 80%);
}
@media (min-width: 1000px) {
  .header .section-header .section-header-div__btn {
    width: 279px;
    height: 63px;
    font-size: 1em;
    margin: 1px auto;
  }
}
@media (min-width: 1000px) {
  .header .section-header .section-header-div__btn {
    margin-left: 12px;
  }
}
.header .section-header__img {
  max-width: 100%;
  max-height: 100%;
  display: block;
  margin: 0 auto 130px;
}
@media (min-width: 1000px) {
  .header .section-header__img {
    width: 50%;
    height: 50%;
    font-size: unset;
    margin: unset auto;
  }
}

.section-2 {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 80px 75px;
  box-shadow: 1px 1px 9px hsla(209deg, 11%, 55%, 0.404);
  border-radius: 10px;
  padding-bottom: 30px;
}
.section-2__img {
  width: 246px;
  margin-bottom: 78px;
}
.section-2__title {
  font-family: "Poppins", sans-serif;
  font-size: 1.2em;
  text-align: center;
  margin-bottom: 12px;
}
.section-2__description {
  text-align: center;
  font-size: 0.9em;
  width: 330px;
}
@media (min-width: 1000px) {
  .section-2 {
    flex-direction: row;
    justify-content: space-around;
    flex-direction: row;
  }
  .section-2__img {
    width: 520px;
  }
  .section-2__title {
    font-size: 2.3em;
    text-align: left;
  }
  .section-2__description {
    text-align: left;
    font-size: 1em;
    width: 495px;
  }
}

.section-3 {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 80px 75px;
  box-shadow: 1px 1px 9px hsla(209deg, 11%, 55%, 0.404);
  border-radius: 10px;
  padding-bottom: 30px;
}
.section-3__img {
  width: 246px;
  margin-bottom: 78px;
}
.section-3__title {
  font-family: "Poppins", sans-serif;
  font-size: 1.2em;
  text-align: center;
  margin-bottom: 12px;
}
.section-3__description {
  text-align: center;
  font-size: 0.9em;
  width: 330px;
}
@media (min-width: 1000px) {
  .section-3 {
    flex-direction: row;
    justify-content: space-around;
    flex-direction: row-reverse;
  }
  .section-3__img {
    width: 520px;
  }
  .section-3__title {
    font-size: 2.3em;
    text-align: left;
  }
  .section-3__description {
    text-align: left;
    font-size: 1em;
    width: 495px;
  }
}

.section-4 {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 80px 75px;
  box-shadow: 1px 1px 9px hsla(209deg, 11%, 55%, 0.404);
  border-radius: 10px;
  padding-bottom: 30px;
}
.section-4__img {
  width: 246px;
  margin-bottom: 78px;
}
.section-4__title {
  font-family: "Poppins", sans-serif;
  font-size: 1.2em;
  text-align: center;
  margin-bottom: 12px;
}
.section-4__description {
  text-align: center;
  font-size: 0.9em;
  width: 330px;
}
@media (min-width: 1000px) {
  .section-4 {
    flex-direction: row;
    justify-content: space-around;
    flex-direction: row;
  }
  .section-4__img {
    width: 520px;
  }
  .section-4__title {
    font-size: 2.3em;
    text-align: left;
  }
  .section-4__description {
    text-align: left;
    font-size: 1em;
    width: 495px;
  }
}

.join-Community {
  position: relative;
  margin: 0 75px -105px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 60px 0px;
  background-color: #fff;
  box-shadow: 0 3px 16px hsla(209deg, 11%, 55%, 0.404);
  border-radius: 10px;
}
@media (min-width: 1000px) {
  .join-Community {
    max-width: 100%;
    width: 55%;
    margin: 0 auto -105px;
  }
}
.join-Community__title {
  margin-bottom: 15px;
  font-size: 1.5em;
  text-align: center;
}
.join-Community__btn {
  background-color: hsl(322deg, 100%, 66%);
  border: none;
  display: block;
  border: 1px solid hsl(193deg, 100%, 96%);
  border-radius: 50px;
  color: #fff;
  width: false;
  height: unset;
  margin-top: 20px;
  padding: 24px 100px;
  border-radius: 40px;
  font-size: 1em;
  box-shadow: 0 6px 16px hsla(209deg, 11%, 55%, 0.404);
  border: none;
}
.join-Community__btn:hover {
  cursor: pointer;
  color: #fff;
  background-color: hsl(322deg, 100%, 80%);
}

footer {
  display: flex;
  flex-direction: column;
  background-color: hsl(192deg, 100%, 9%);
  color: #fff;
  padding: 200px 75px 30px;
}
footer .attribution {
  font-size: 11px;
  text-align: center;
}
footer .attribution a {
  color: hsl(228deg, 45%, 44%);
}

/*# sourceMappingURL=styles.css.map */
