
@mixin desktop-view($width, $heigth: unset, $font-size: unset, $margin:unset) {
    @media (min-width: 1000px) {   
        width: $width;
        height: $heigth;
        font-size: $font-size;
        margin: $margin auto;
    }
}
@mixin header-section {
    @media (min-width: 1000px) {
        text-align: left;
    }

}

@mixin button($bg-color, $br-color, $fn-color, $width: unset, $height: unset, $center:unset) {
    background-color: $bg-color;
    border: none;
    display: block;
    border: 1px solid $br-color;
    border-radius: 50px;
    color: $fn-color;
    width: $width;
    height: $height; 
    @if $center == true {
        margin: 0 auto;
    }   
}

@mixin button-hover($color, $bg-color) {
    &:hover{
        cursor: pointer;
        color: $color;
        background-color: $bg-color;
    }
}

@mixin flexSections {
    
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 80px 22px 90px;
    box-shadow: 1px 1px 9px hsla(209, 11%, 55%, 0.404);
    border-radius: 10px;
    padding-bottom: 30px;
    &__img{
     width: 246px;
     margin-bottom: 78px;
    } 
    &__title{
        font-family: $font-Poppins;
        font-size: 1.2em;
        text-align: center;
        margin-bottom: 12px;
    }
    &__description{
        text-align: center;
        font-size: 0.9em;
        width: 330px;
    }
}

@mixin flexSection-desktop($direction: row) {
    @media (min-width: 1000px) {
        flex-direction: row;
        justify-content: space-around;
        flex-direction: $direction;
        margin: 80px 75px 90px;
        &__img{
            width: 520px;
           } 
           &__title{
            font-size: 2.3em;
            text-align: left;
           }
           &__description{
            text-align: left;
            font-size: 1em;
            width: 495px;
           }
    }
}
@mixin desktop-header {
    @media (min-width: 1000px) {
        margin: 0 0 36px;
        padding-left: 12px ;
        text-align: left;
        width: 520px;
        font-size: 1em;
    }
}
@mixin footer-desktop($width){
    @media (min-width:1000px){
        display: flex;
        width: $width;     
    }
}