@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&family=Poppins:wght@600&display=swap');
// Primary

$Pink-color: hsl(322, 100%, 66%);
$Pink-color-hover: hsl(322, 100%, 80%);

// Neutral

$Very-Pale-Cyan: hsl(193, 100%, 96%);
$Very-Dark-Cyan: hsl(192, 100%, 9%);
$Grayish-Blue: hsl(208, 11%, 55%);
$white: #fff;

//fuentes
$font-OpenSans: 'Open Sans', sans-serif;
$font-Poppins: 'Poppins', sans-serif;