@import "variables";
@import "mixins";

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    color: $Very-Dark-Cyan;
    font-family: $font-OpenSans;
    main{
        font-size: 18px;
        margin: 0 auto 25px;
        @include desktop-view(100%);
    }
    //padding: 45px 75px;
}

.nav{
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin: 0px  auto 100px;
    @include desktop-view(95%);
    align-items: center;

    &__logo{
        width: 120px;
        height: 20px;
        @include desktop-view(201px, 35px)
    }
    &__btn{

        @include button($white, $Very-Pale-Cyan, $Very-Dark-Cyan, 100px, 30px, false);
        box-shadow: 2px 4px 11px hsl(208deg 11% 55% / 20%);
        @include desktop-view(195px, 50px);
        font-weight: 700;
        @include button-hover($Grayish-Blue, $white)
      
    }
}
.header{
    background-color: $Very-Pale-Cyan;
    background-image: url(../images/bg-hero-mobile.svg);
    @media (min-width: 1000px) {
        background-image: url(../images/bg-hero-desktop.svg);
    }
    padding: 45px 75px;
    .section-header{
        @media (min-width: 1000px) {
            display: flex;
        }
       
        .section-header-div{
            @include desktop-view(50%);
            
            &__title{
                font-family: $font-OpenSans;
                text-align: center;
                width: 290px;
                font-size: 1.48em;
                margin: 0 auto 36px;
                @include desktop-view(50%, unset, 2.98em);
                @include desktop-header;
                @media (min-width: 1000px) {
                    width: 350px;
                    font-size: 1.80em;
                    padding-top: 100px;
                }

            }
            &__description{
                text-align: center;
                font-size: 1em;
                width: 340px;
                margin: 0 auto 49px;
                @include desktop-view(50%, 80px, 1.95em);
                @include desktop-header;
            }
            &__btn{
                @include button($Pink-color, $Very-Pale-Cyan, $white, 370px, 55px, true);
                @include button-hover($white, $Pink-color-hover );
                margin: 0 auto;
                @include desktop-view(279px,63px, 1em, 1px);
                @media (min-width: 1000px) {
                    margin-left: 12px;
                }
                margin-bottom: 100px;
            }
        }
        &__img{
            max-width: 100%;
            max-height: 100%;
            display: block;
            margin: 0 auto 130px;
            @include desktop-view(50%, 50%);
        }
    }
}
.section-2{
  @include flexSections;
  @include flexSection-desktop;
}
.section-3{
    @include flexSections;
    @include flexSection-desktop(row-reverse);
   
}
.section-4{
    @include flexSections;
    @include flexSection-desktop;
 
}
footer{
    margin: 80px 75px;
    border: 1px solid red;
    .attribution { 
        font-size: 11px; 
        text-align: center; 
    }
    .attribution 
        a { 
        color: hsl(228, 45%, 44%); 
        
    }
}
